@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");


html { font-size: 16px; }

@media (max-width: 991px) { html { font-size: 15px; } }

@media (max-width: 767px) { html { font-size: 14px; } }

@media (max-width: 479px) { html { font-size: 13px; } }

.truncate {text-overflow: ellipsis;}


/* @tailwind base; */
@tailwind components;
@tailwind utilities;
