@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");


/* Base font size is 16px */
html { font-size: 16px; }

/* As per Webflows Break points here are the font sizes per screen */
@media (max-width: 991px) { html { font-size: 16px; } }

@media (max-width: 767px) { html { font-size: 16px; } }

@media (max-width: 478px) { html { font-size: 16px; } }

/* Custom Webflow Breakpoints */
@media (min-width: 1279px) { html { font-size: 17px; } }
@media (min-width: 1439px) { html { font-size: 18px; } }
@media (min-width: 1919px) { html { font-size: 19px; } }

.truncate {text-overflow: ellipsis;}


/* @tailwind base; */
@tailwind components;
@tailwind utilities;
